@font-face {
  font-family: "nskr";
  src: local("NotoSans Regular"),
    url("./assets/fonts/NotoSansKR-Regular.woff2") format("woff2"),
    url("./assets/fonts/NotoSansKR-Regular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "nskr";
  src: local("NotoSans Medium"),
    url("./assets/fonts/NotoSansKR-Medium.woff2") format("woff2"),
    url("./assets/fonts/NotoSansKR-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "nskr";
  src: local("NotoSans Bold"),
    url("./assets/fonts/NotoSansKR-Bold.woff2") format("woff2"),
    url("./assets/fonts/NotoSansKR-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "nskr", -apple-system, "droid sans fallback",
    "Apple SD Gothic Neo", "AppleGothic", "Malgun Gothic", "맑은 고딕", Dotum,
    "돋움", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
